body {
	font-family: Arial; 
	position: relative; 
	font-size: 14px;
	background: rgba(0, 201, 255, 0.23);
	width: 90%;
	margin: auto;
}

ul{ 
	margin-bottom: 10px;
	list-style: square;
	border: 2px solid #ffffaf;
}

li { 
	margin-right: 18px;
	margin-bottom: 6px;
}

a { text-decoration: none; }
a:hover { background-color: #d4d4d4; }

h1, h2 { text-align: center; }

h2, p { margin-top: 20px; }

h3 { text-decoration: underline; }

p::first-letter { 
    color: firebrick;
    font-style: oblique;
    font-weight: bold;
    font-size: 20px;
}

p::first-line { background-color: lightgreen; }

.extreme { 
    text-shadow: 3px 3px #978686; 
    font-weight: bold;
}
#head1 { letter-spacing: 8px; }

.navzone {
    width: 20%;
    margin-left: 2%;
}
#tehlulz {
    color: tomato;
    list-style: decimal;
}

.content { text-transform: lowercase; }
.prose { text-indent: 5%; }