body {
	font-family: Times New Roman; 
	position: static; 
	font-size: 15px;
	background: rgba(103, 255, 0, 0.3);
	width: 90%;
	margin: auto;
}

ul{ 
	margin-bottom: 10px;
	list-style: circle;
	border: 2px solid #ffafaf;
	border-radius: 10px;
	text-decoration: line-through;
}

li { 
	margin-right: 18px;
	margin-bottom: 6px;
}

a { 
    text-decoration: none;
    color: lightcoral;
}
a:hover { background-color: #d4d4d4; }

h1, h2 { text-align: center; }

h2, p { margin-top: 20px; }

h3 { color: orange; }

p::first-letter { 
    color: deepskyblue;
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
}

p::first-line { background-color: lightsalmon; }

.extreme { text-shadow: 2px 2px #9f9797; }
#head1 { letter-spacing: 4px; }

.navzone {
    width: 30%;
    margin-left: 2%;
}
#tehlulz {
    color: fuchsia;
    list-style: square;
}

.content { text-transform: capitalize; }
.prose { text-indent: 40px; }
