body {
	font-family: Arial; 
	position: relative; 
	font-size: 14px;
}


ul{ 
	margin-bottom: 10px;
	list-style: square;
}

li { 
	margin-right: 18px;
	margin-bottom: 6px;
}

a:hover { background-color: #D4D4D4; }